<!-- Form for Editing an Entry in a Chronicle-->

<%- include('../partials/header') %>

<section id="edit-entries-form">
    <h2>Edit Entry</h2>
    <form method="POST" action="/entries/<%= entry._id %>?_method=PUT">
  <label>My Mood:</label>
  <select name="mood" class="drop-box">
    <option value="Happy" <%= selectedValues.mood === 'Happy' ? 'selected' : '' %>>Happy</option>
    <option value="Sad" <%= selectedValues.mood === 'Sad' ? 'selected' : '' %>>Sad</option>
    <option value="Excited" <%= selectedValues.mood === 'Excited' ? 'selected' : '' %>>Excited</option>
    <option value="Content" <%= selectedValues.mood === 'Content' ? 'selected' : '' %>>Content</option>
    <option value="Angry" <%= selectedValues.mood === 'Angry' ? 'selected' : '' %>>Angry</option>
    <option value="Nervous" <%= selectedValues.mood === 'Nervous' ? 'selected' : '' %>>Nervous</option>
    <option value="Calm" <%= selectedValues.mood === 'Calm' ? 'selected' : '' %>>Calm</option>
    <option value="Overwhelmed" <%= selectedValues.mood === 'Overwhelmed' ? 'selected' : '' %>>Overwhelmed</option>
    <option value="Other" <%= selectedValues.mood === 'Other' ? 'selected' : '' %>>Other</option>
  </select>
  <br>

  <label>Water Intake:</label>
  <select name="water" class="drop-box">
    <option value="0-1" <%= selectedValues.water === '0-1' ? 'selected' : '' %>>0-1 8oz glasses</option>
    <option value="2-3" <%= selectedValues.water === '2-3' ? 'selected' : '' %>>2-3 8oz glasses</option>
    <option value="4-5" <%= selectedValues.water === '4-5' ? 'selected' : '' %>>4-5 8oz glasses</option>
    <option value="6-7" <%= selectedValues.water === '6-7' ? 'selected' : '' %>>6-7 8oz glasses</option>
    <option value="8+" <%= selectedValues.water === '8+' ? 'selected' : '' %>>8+ 8oz glasses</option>
  </select>
  <br>

  <label>Daily Exercise:</label>
  <select name="exercise" class="drop-box">
    <option value="none" <%= selectedValues.exercise === 'none' ? 'selected' : '' %>>None</option>
    <option value="30" <%= selectedValues.exercise === '30' ? 'selected' : '' %>>30 Min</option>
    <option value="60" <%= selectedValues.exercise === '60' ? 'selected' : '' %>>60 Min</option>
    <option value="90" <%= selectedValues.exercise === '90' ? 'selected' : '' %>>90 Min</option>
    <option value="120+" <%= selectedValues.exercise === '120+' ? 'selected' : '' %>>120+ Min</option>
  </select>
  <br> 

  <label>Hours of Sleep:</label>
  <select name="sleep" class="drop-box">
    <option value="0-3" <%= selectedValues.sleep === '0-3' ? 'selected' : '' %>>0-3 Hours</option>
    <option value="3-6" <%= selectedValues.sleep === '3-6' ? 'selected' : '' %>>3-6 Hours</option>
    <option value="6-8" <%= selectedValues.sleep === '6-8' ? 'selected' : '' %>>6-8 Hours</option>
    <option value="8+" <%= selectedValues.sleep === '8+' ? 'selected' : '' %>>8+ Hours</option>
  </select>
  <br>

  <label>Anxiety Level:</label>
  <select name="anxiety" class="drop-box">
    <option value="5" <%= selectedValues.anxiety === '5' ? 'selected' : '' %>>5 - Extremely Anxious</option>
    <option value="4" <%= selectedValues.anxiety === '4' ? 'selected' : '' %>>4 - Very Anxious</option>
    <option value="3" <%= selectedValues.anxiety === '3' ? 'selected' : '' %>>3 - Anxious</option>
    <option value="2" <%= selectedValues.anxiety === '2' ? 'selected' : '' %>>2 - Very Little Anxious</option>
    <option value="1" <%= selectedValues.anxiety === '1' ? 'selected' : '' %>>1 - No Anxiety</option>
  </select>
  <br><br>

  <label>Daily Writing Prompt:</label>
  <textarea name="journal" id="text-box"><%= selectedValues.journal %></textarea>

  <br><br>
  <input type="submit" value="Update Entry">

</form>
</section>

<%- include('../partials/footer') %>