<!-- DISPLAYS ALL CHRONICLES-->

<%- include('../partials/header') %>

<h2>Your Chronicles</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% chronicles.forEach(c => { %>
        <tr>
            <td>
                <form action="/chronicles/<%= c.id %>?_method=DELETE"
                    class="delete-chronicle" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
            <td><%= c.title %></td>
            <td><%= c.date %></td>
        </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>